body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
.gameArea {
    display: grid;
    justify-content: space-around;
}
.gridRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
    cursor: pointer;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  